streamlit==1.10.0  # Specify the version of Streamlit you are using or tested with
PyMuPDF==1.19.6    # Specify the version of PyMuPDF you are using or tested with
openai==0.10.2     # Specify the version of OpenAI you are using or tested with